# Database Credentials
DB_NAME=tiktaktuk
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=tiktaktuk

# Django Secrets
SECRET_KEY=50-random-secret-key-for-development-1234567890
DEBUG=True
