# Database Credentials
DB_NAME=widya.mutia
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=tiktaktuk

# Django Secrets
SECRET_KEY=idjango-insecure-tk03-tiktaktuk
DEBUG=True