# Database Credentials
DB_NAME=tiktaktuk
DB_USER=postgres
DB_PASSWORD=insert_your_password_here
DB_HOST=localhost
DB_PORT=5432

# Django Secrets
SECRET_KEY=insert_your_50_character_secret_key_here
DEBUG=True